#!/usr/bin/python3

import os

git = {
    'url':               'git@github.com:yourgithubhandle/yourrepo.git',
    'ssh_identity_file':  os.path.join(os.getcwd(),'github', 'ella'),
    'ssh_cmd':           'ssh -o StrictHostKeyChecking=accept-new -i %s' % os.path.join(os.getcwd(),'github', 'ella')
}

pdfregex = r"([^\'\"]+\.pdf)"
gitdir   = os.path.join(os.getcwd(), 'git')

spn2 = {
    'enabled':     False,
    'access_key': 'example',
    'secret_key': 'example'
}

